footer{
  margin-top: 40px;
  .brand{
    float: left;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 300;
    color: white;
  }
  .footer-logo{
    width: 242px;
    margin-bottom: 30px;
  }
  .footer-links{
    margin-bottom: 10px;
  }
}
