.menu-wrapper{
  background-color: white;
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #b7d5ea;
  margin-bottom: 40px;
  .logo{
    padding: 15px 32px 14px 0px;
  }
  .logo, .menu-item{
    float: left;
    border-right: 1px solid #b7d5ea;
  }
  .menu-item, .last-menu-item{
    padding: 25px 36px;
  }
  .last-menu-item{
    border-left: 1px solid #b7d5ea;
  }
  .menu-button{
    padding: 11px 20px;
  }
}
