.boxes-area{
  width: 80%;
  margin: auto;
}


.startup-box{
  float: left;
  /*border-left: 1px solid rgb(247, 247, 247);
  border-right: 1px solid rgb(247, 247, 247);
  border-bottom: 2px solid rgb(247, 247, 247);*/
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgb(247, 247, 247);
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  .description{
    padding: 20px;
    font-weight: 200;
    a{
      text-transform: capitalize;
      line-height: 34px;
      font-size: 16px;
    }
    p{
      color: #666;
    }
  }
}



.startups{
  border: 1px solid black;
  margin: 0 auto;
  .highlighteds{
    border: 1px solid black;
    position: relative;
    .box{
      border: 1px solid black;
      margin: 0 auto;
      .image{
        border: 1px solid black;
      }
      .name{
        border: 1px solid black;
      }
      .pitch{
        border: 1px solid black;
      }
    }
  }
  .unhighlighteds{
    border: 1px solid black;
    position: relative;
    .box{
      border: 1px solid black;
      margin: 0 auto;
      .image{
        border: 1px solid black;
      }
      .name{
        border: 1px solid black;
      }
      .pitch{
        border: 1px solid black;
      }
    }
  }
}
