/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./app
 *= require bootstrap_override
 */

@import "twitter/bootstrap";

h1, h2, h3, h4, h5, h6{ font-weight: 200; color: #333; font-family: 'Open Sans', sans-serif; }

.subtitle{
  font-weight: 200;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-top: 52px;
  margin-bottom: 30px;
}

.sub-header{
  color: #666;
  font-size: 12pt;
  font-weight: 200;
  margin: 24px auto;
  line-height: 20px;
  line-height: 26px;
  margin-top: 14px;
}

.explanation-text{
  color: #999;
  font-size: 9pt;
  margin-top: 4px;
}

body{
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  a{
    color: #4aa3df;
    font-weight: 200;
  }
}

.center{
  text-align: center;
  margin: auto;
}

.full-color-background{
  width: 100%;
  padding: 25px 0 40px 0;
  background-color: white;
}
.btn{
  font-size:13px;
}

.default-btn{
  padding: 12px 24px;
  background-color: #4aa3df;
  border: none;
  border-bottom: 4px solid #1175B8;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 4px;
}

.default-btn-big{
  padding: 22px 44px;
}

.default-btn:active{
  color: white;
  border:none;
  padding-bottom: 16px;
}

.fade {
  opacity: 1;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.fade:hover {
  background-color: #58b8ee !important;
  color: white !important;
}

.fade:active{
  color: white;
}


.menu-fade {
  opacity: 1;
  transition: background .13s ease-in-out;
  -moz-transition: background .13s ease-in-out;
  -webkit-transition: background .13s ease-in-out;
}

.menu-fade:hover {
  background-color: #4aa3df;
  color: #FFF;
}

.menu-fade:active{
  color: #FFF;
}

.newsletter{
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 56px;
  margin: 60px 0 0 0;
  @media (min-width: 490px){
    input{
      width: 310px;
      height: 47px;
      border: none;
    }
  }
  @media (max-width: 489px){
    input{
      width: 100%;
      height: 47px;
      border: none;
    }
  }
}


.well{
  background-color: rgb(247, 247, 247);
  margin-top: 60px;
  margin-bottom: 80px;
  padding: 20px 40px 40px 40px;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.register{
  input{
    width: 100%;
    height: 42px;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  textarea{
    width: 100%;
    height: 180px;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  #startup_screenshot {
    border: none !important;
  }
}

.help-inline{
  color: red;
}

.footer-links, .footer-links a{
  color: white;
}

/* startup registration */
.bullets {
  margin: 10px 0 0 0;
  .glyphicon.glyphicon-ok {
    float: left;
    margin: 2px 10px 0 0;
    color: #30d334;
  }
  h4 {
    margin: 0 0 0 24px;
    line-height: 1.4;
  }
}

.market-tag{
  margin-right: 10px;
}

/* Promo-Header */
.icon-header {
  font-size: 12px;
  margin: 20px 0 0 0;
  font-weight:400;
  img{
    margin: 0 0 10px 0;
  }
}
