form.form-inline action="http://listabeta.us3.list-manage.com/subscribe/post?u=85d2b1e556a6a9e7f59a2b1a4&amp;id=da1a8648fb" method="post" novalidate="" role="form" target="_blank"
  .form-group
    input#mce-EMAIL.form-control.pull-left name="EMAIL" placeholder="Seu email" type="email"
    button.btn.default-btn.fade.pull-right type="submit" ASSINAR