<form action="http://listabeta.us3.list-manage.com/subscribe/post?u=85d2b1e556a6a9e7f59a2b1a4&amp;id=da1a8648fb" method="post" class="form-inline" role="form" target="_blank" novalidate>
  <div class="form-group">
    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Seu e-mail">
  </div>
  <button type="submit" class="btn default-btn fade">Assinar</button>
</form>
