<form action="http://codeland.us7.list-manage.com/subscribe/post?u=31ee692f0f16cf4464754ca0b&amp;id=de346b1b54" method="post" class="form-inline" role="form" target="_blank" novalidate>
  <div class="form-group">
    <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter email">
  </div>
  <button type="submit" class="btn default-btn fade">Assinar</button>
</form>
